body {
  margin: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#viewer-container {
  width: 90vw;
  height: 90vh;
  border: 1px solid #ccc;
  background-image: linear-gradient(0deg, #eee 1px, transparent 1px),
                    linear-gradient(90deg, #eee 1px, transparent 1px);
  background-size: 1in 1in;
}

svg {
  width: 100%;
  height: 100%;
  stroke: black;
  fill: none;
}